.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

form {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 50px;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border-color: #6c757d;
  text-decoration: none;
}

.wrapper {
  border: 3px solid lightgray;
  border-radius: 3rem;
  padding: 0.5rem 0;
  width: 42rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

body {
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}