{% load static %}
<html>

<head>
    <title>My Movie list</title>
    <link rel="stylesheet" href="{% static 'movie_list_detail.css' %}" />
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <h1>{{ movie_list.name }}</h1>
            <div class="actions">
                <a class="btn btn-create" href="{% url 'create_movie' movie_list.pk %}">Create Movie</a>
                <a class="btn btn-danger" href="{% url 'delete_movie_list' movie_list.pk %}">Delete List</a>
                <a href="{% url 'movie_list' %}" class="btn btn-primary">Return to Movie Lists</a>
            </div>
        </div>

        {% for movie in movies %}
        <div class="movie-entry">
            <h2>{{ movie.title }}</h2>
            <div class="details">
                <p>Year: {{ movie.year }}</p>
                <p>Rating: {{ movie.rating }}</p>
                <a href="{% url 'delete_movie' movie_list.pk movie.pk %}">Delete</a>
                <a href="{% url 'edit_movie' pk=movie_list.pk movie_pk=movie.pk %}">Edit</a>
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>